<header class="site-header">
  <div class="site-title">
    <a href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>
  </div>
  <nav class="site-nav">
    <a href="{{ "/" | relative_url }}" class="nav-link {% if page.url == '/' %}active{% endif %}">Home</a>
    <a href="{{ "/blog" | relative_url }}" class="nav-link {% if page.url contains '/blog' or page.url contains '/essays' %}active{% endif %}">Blog</a>
    <a href="{{ "/newsletter" | relative_url }}" class="nav-link {% if page.url contains '/newsletter' %}active{% endif %}">Newsletter</a>
    <a href="{{ "/now" | relative_url }}" class="nav-link {% if page.url == '/now/' %}active{% endif %}">Now</a>
    <!-- </nav>
    <nav class="site-nav"> -->
    <a href="{{ "/reading-list" | relative_url }}" class="nav-link {% if page.url contains '/reading-list' %}active{% endif %}">Reading List</a>
    <a href="{{ "/listening-list" | relative_url }}" class="nav-link {% if page.url contains '/listening-list' %}active{% endif %}">Listening List</a>
    <a href="{{ "/shop" | relative_url }}" class="nav-link {% if page.url contains '/shop' %}active{% endif %}">Shop</a>
  </nav>
</header>

