<div style="display: flex; justify-content: center; align-items: center;">
    <h3>Receive new articles in your inbox</h3>
</div>
<iframe src="https://sisyphusnotes.substack.com/embed" width="480" height="320"
    style="border:1px solid #EEE; background:white;" frameborder="0" scrolling="no"></iframe>
<p style="font-size: 14px; color: #555; margin: 0 auto; text-align: center;">Can't see the newsletter form? <a
        href="https://sisyphusnotes.substack.com" target="_blank">Click here</a></p>
<!-- Added a caption type CTA for when the iframe is not loaded -->