{% if page.categories %}
    {% assign category = page.categories[0] %}
    {% assign posts = site.categories[category] %}
    {% assign post_index0 = nil %}
    {% assign post_index1 = nil %}
    {% assign next_post = nil %}
    {% assign prev_post = nil %}

    {% for post in posts %}
      {% if post.url == page.url %}
        {% assign post_index0 = forloop.index0 %}
        {% assign post_index1 = forloop.index %}
        {% break %}
      {% endif %}
    {% endfor %}

    {% for post in posts %}
      {% if post_index0 == forloop.index %}
        {% assign next_post = post %}
      {% endif %}
      {% if post_index1 == forloop.index0 %}
        {% assign prev_post = post %}
      {% endif %}
    {% endfor %}
  {% endif %}

  {% assign user_url = site.url | append: site.baseurl %}
  {% assign full_base_url = user_url | default: site.github.url %}

  <div class="post-navigation">
    {% if prev_post %}
      <a class="prev" href="{{ prev_post.url | relative_url }}">&larr; {{ prev_post.title }}</a>
    {% endif %}
    {% if next_post %}
      <a class="next" href="{{ next_post.url | relative_url }}">{{ next_post.title }} &rarr;</a>
    {% endif %}
  </div>