---
layout: default
title: Reading List
permalink: /reading-list/
description: "Explore my curated and intentionally disorganized reading list. Find books on various topics with relevant
tags. Happy reading!"

---
<div class="container">
    <h1>Extremely Disorganized Reading List</h1>


    <div style="text-align: center;"> <!-- Added a div to center the image -->
        <img style="max-width: 100%; max-height: 300px;" src="/assets/images/books/bookshelf_by_scrawlednotions.webp"
            alt="Bhagyesh's Bookshelf by Scrawlednotions">
        <p style="font-size: small;">My bookshelf illustrated by <a href="https://hardishukla.com">Hardi Shukla</a></p>
    </div>

    <p>The world is already tainted with univariate identity groups. And I don’t believe in such things. So, this is an
        intentionally disorganized list. I have provided each book with 3-4 tags to help you get the overall theme.
        Happy reading!
    </p>


    <div class="reading-list-grid"> <!-- Added reading-list-grid class -->
        {% for book in site.data.books_list %}
        <div class="reading-list-card"> <!-- Added reading-list-card class -->
            <img src="/assets/images/books/{{ book.image }}" alt="{{ book.title }}" class="reading-list-image">
            <!-- Added reading-list-image class -->
            <div>
                <h2 class="reading-list-title">{{ book.title }}</h2> <!-- Added reading-list-title class -->
                <div class="reading-list-tags"> <!-- Added reading-list-tags class -->
                    {% for tag in book.tags %}
                    <span class="tag">{{ tag }}</span>
                    {% endfor %}
                </div>
                <p class="reading-list-excerpt">{{ book.description }}</p> <!-- Added reading-list-excerpt class -->
            </div>
        </div>
        {% else %}
        <p>No books found in the reading list.</p>
        {% endfor %}
    </div>
</div>